body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.bg-green {
  background-color: #28a745;
}
#red {
  color: red;
}
#red:hover {
  color: rgb(47, 0, 255);
}
.logo-white {
  width: 90px;
}
.card-title {
  width: 75%;
  font-size: 1.2rem;
}
.green {
  color: #28a745;
}
