.parrafo1,
.parrafo2 {
  font-size: 1rem;
  padding: 1rem;
  background-color: lightblue;
  width: 20vw;
}

.padre {
  font-size: 15px;
}

.padre p {
  background-color: greenyellow;
  padding: 1em;
  font-size: 1em;
}

.padre p {
  background-color: green;
  padding: 1em;
  font-size: 1em;
}
#parrafo2 {
  background-color: chartreuse !important;
}
/* 
especificidad:
inline > id > clases > html tag


rem se refiere a su elemento raiz (HTML  o configuracion del navegador)
em se refiere a su elemento padre
*/
